h1, em, .introduction
{
	color: blue;
}

.chei
{
	color: red;
}
h1
{
	background-color: green;
	opacity: 0.4;
	font-size: large;

}

h1 + p + p
{
	font-size: 0.8em;
	border-left: 2px solid black;
	border-right: 2px solid black;
	border-top: 2px solid black;
	border-radius: 20px / 10px;
	background-color: black;
	opacity: 0.7;	

}
a 
{
	text-decoration: none;
	color: blue;
	font-style: italic;
}

a:hover
{
	text-decoration: underline;
	color: green;
}


@font-face {
    font-family: 'learning_curve_proregular';
    src: url(web_fonts/LearningCurve_OT-webfont.eot);
    src: url(web_fonts/LearningCurve_OT-webfont.eot?#iefix) format('embedded-opentype'),
         url(web_fonts/LearningCurve_OT-webfont.woff) format('woff'),
         url(web_fonts/LearningCurve_OT-webfont.ttf) format('truetype'),
         url(web_fonts/LearningCurve_OT-webfont.svg#learning_curve_proregular) format('svg');
}

h1
{
	font-family: 'learning_curve_proregular', Arial, serif;
}
em
{
	font-style: normal;
	font-weight: bold;
}
strong
{
	font-weight: normal;
	font-style: italic;
}
h1 + p + p
{
	text-align: justify;
	color: red;
}
.hastofloat
{
	float: left;
}
body
{
	background-image: url(img/bgn_pic.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top right;
}
